name: build

on:
  push:
    branches:
      - "**"
  pull_request:

jobs:
  build:
    name: "Build"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: "temurin"
          java-version: "17"

      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - run: |
          ./gradlew --no-daemon --stacktrace help
          ./gradlew --no-daemon  --stacktrace build

      - name: Get Short SHA
        id: sha
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - uses: actions/upload-artifact@v2
        with:
          name: DevAuth-artifacts-${{ steps.sha.outputs.sha_short }}
          path: |
            build/distributions/*.jar